#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Back_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 42px;
  height: 46px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Groups_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 94px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Parties_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 88px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Button_MKM {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 38px 38px 38px 38px;
  padding-top: 19px;
  padding-right: 19px;
  padding-bottom: 19px;
  padding-left: 19px;
  width: 217px;
  height: 236px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-MDG_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 42px 42px 42px 42px;
  padding-top: 21px;
  padding-right: 21px;
  padding-bottom: 21px;
  padding-left: 21px;
  width: 239px;
  height: 242px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Startparty {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 287px;
  height: 63px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Play_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 38px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Line_partyID {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Line_partyID {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Enter_border {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #898989;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #898989;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #898989;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #898989;
  border-radius: 19px 19px 19px 19px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-ENTER {
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-enter_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 106px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 #s-Playlist_shortcut_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 32px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-033d1e54-d23a-4865-bfaf-73e40e82a830 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}