#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_2 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_2 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_3 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_3 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_4 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_4 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_7 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_7 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_8 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_8 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #898989;
  -ms-transform: rotate(90.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-LETSGETTHISPARTY {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_DropDown {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_PartyGlass {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_PartyText {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_Inviteandstartbtn {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_Plus {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_PrivacyText {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_QueueText {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_FramTill10 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_UntzHelaNatten {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_PopUp {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-B_PickPlaylist {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-x_button {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-B_UntzHelaNatten {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-ID {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-B_FramTill10 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Group_only_button {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Privacy_image1 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Open_button {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Privacy_setting_button {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Back_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 34px;
  height: 33px;
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Groups_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 88px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Parties_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 89px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Start_party_button {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Play_button {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}