#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_1 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -8px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_2 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -8px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_3 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -8px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_4 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -8px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_5 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -8px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_6 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -8px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_7 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -8px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_8 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -8px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Line_9 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -8px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-LETSGETTHISPARTY {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_DropDown {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_PartyGlass {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_PartyText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_Inviteandstartbtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_Plus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_PrivacyText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_QueueText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_FramTill10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_UntzHelaNatten {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-I_PopUp {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-B_PickPlaylist {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-x_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-B_UntzHelaNatten {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-ID {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-B_FramTill10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Group_only_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Privacy_image1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Open_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Privacy_setting_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Back_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Groups_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Parties_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Start_party_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Play_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16f8d3ca-8b67-4575-9f14-48b23181a3bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}