#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-popUp_invitepeople {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Line_1 {
  rotation: 90.0;
  margin-left: 191px;
  margin-top: -192px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Line_2 {
  rotation: 90.0;
  margin-left: 73px;
  margin-top: -74px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-x_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Button_groups {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Button_parties {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Button_back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Button_audio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}