#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Rectangle_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 19px 19px 19px 19px;
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-popUp_invitepeople {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #898989;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #898989;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #898989;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #898989;
  border-radius: 32px 32px 32px 32px;
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Line_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #95989A;
  -ms-transform: rotate(90.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Line_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #95989A;
  -ms-transform: rotate(90.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Line_2 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #95989A;
  -ms-transform: rotate(90.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Line_2 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #95989A;
  -ms-transform: rotate(90.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-x_button {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #95989A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #95989A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #95989A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #95989A;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Button_groups {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Button_parties {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Button_back {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e #s-Button_audio {
  -ms-transform: rotate(0.0deg);
}
#s-2f0793df-245c-4d38-a3a8-bfe9092e043e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}