#s-6f01447b-8f86-47cf-b797-ed79923fd186 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 1080px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Background {
  position: absolute;
  width: 1920px;
  height: 1080px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-InviteSettings {
  position: absolute;
  width: 383px;
  height: 87px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_1 {
  position: absolute;
  width: 379px;
  height: 47px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #898989;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #898989;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #898989;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #898989;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_1 {
  position: absolute;
  width: 325px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Triangle_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 13px;
  position: absolute;
  overflow: hidden;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Triangle_1 .content {
  width: 14px;
  height: 13px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Triangle_1 {
  position: absolute;
  width: 14px;
  height: 13px;
  background-color: #898989;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #shapewrapper-s-Triangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Button_1 {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_2 {
  position: absolute;
  width: 379px;
  height: 83px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #898989;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #898989;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #898989;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #898989;
  border-radius: 26px 26px 26px 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_2 {
  position: absolute;
  width: 307px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_3 {
  position: absolute;
  width: 270px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_4 {
  position: absolute;
  width: 314px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-PopUp_invite {
  position: absolute;
  width: 1924px;
  height: 1081px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Transparent_background {
  position: absolute;
  width: 1920px;
  height: 1077px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Transparent_background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Transparent_background span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Transparent_background span#rtr-s-Transparent_background_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-popUp_invitepeople {
  position: absolute;
  width: 642px;
  height: 662px;
  background-color: #282828;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #898989;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #898989;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #898989;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #898989;
  border-radius: 32px 32px 32px 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-popUp_invitepeople .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-popUp_invitepeople span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-popUp_invitepeople span#rtr-s-popUp_invitepeople_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Line_1 {
  position: absolute;
  width: 386px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #95989A;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #shapewrapper-s-Line_1 {
  display: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Line_2 {
  position: absolute;
  width: 152px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #95989A;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #shapewrapper-s-Line_2 {
  display: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-x_button {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
  cursor: pointer;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Image_5 {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Image_6 {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Image_7 {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Image_8 {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Image_9 {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Image_10 {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_5 {
  position: absolute;
  width: 244px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_5 span {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_6 {
  position: absolute;
  width: 212px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_6 span {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_7 {
  position: absolute;
  width: 187px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_7 span {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_8 {
  position: absolute;
  width: 214px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_8 span {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_9 {
  position: absolute;
  width: 124px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_9 span {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_10 {
  position: absolute;
  width: 137px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_10 span {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Block {
  position: absolute;
  width: 160px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Block .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Block span {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Block span#rtr-s-Block_0 {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Block span#rtr-s-Block_1 {
  color: #95989A;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_3 {
  position: absolute;
  width: 186px;
  height: 57px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #95989A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #95989A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #95989A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #95989A;
  border-radius: 9px 9px 9px 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Input_1 {
  position: absolute;
  display: none;
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Input_2 {
  position: absolute;
  display: none;
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Input_3 {
  position: absolute;
  display: none;
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Input_4 {
  position: absolute;
  display: none;
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Input_5 {
  position: absolute;
  display: none;
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Input_6 {
  position: absolute;
  display: none;
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Block_button {
  position: absolute;
  width: 159px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Block_button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Block_button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Block_button span#rtr-s-Block_button_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Apply_button {
  position: absolute;
  width: 125px;
  height: 76px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 14px 14px 14px 14px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Apply_button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Apply_button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Apply_button span#rtr-s-Apply_button_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Back_button {
  position: absolute;
  width: 42px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Back_button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Back_button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Back_button span#rtr-s-Back_button_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Groups_button {
  position: absolute;
  width: 82px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Groups_button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Groups_button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Groups_button span#rtr-s-Groups_button_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Parties_button {
  position: absolute;
  width: 76px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Parties_button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Parties_button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Parties_button span#rtr-s-Parties_button_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Play_Button {
  position: absolute;
  width: 48px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Play_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Play_Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Play_Button span#rtr-s-Play_Button_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Image_2 {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Image_3 {
  position: absolute;
  width: 36px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 #s-Image_4 {
  position: absolute;
  width: 37px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f01447b-8f86-47cf-b797-ed79923fd186 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}