#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 73px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 37px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-MDG {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}