#s-71ade645-85ec-4561-911c-efd0c236ce73 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 1080px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_1 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_1 {
  position: absolute;
  width: 73px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_2 {
  position: absolute;
  width: 37px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_5 {
  position: absolute;
  width: 48px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_2 {
  position: absolute;
  width: 370px;
  height: 330px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_2 {
  position: absolute;
  width: 361px;
  height: 326px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_3 {
  position: absolute;
  width: 251px;
  height: 158px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_3 {
  position: absolute;
  width: 1248px;
  height: 367px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_5 {
  position: absolute;
  width: 1187px;
  height: 326px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_6 {
  position: absolute;
  width: 74px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-MDG {
  position: absolute;
  width: 360px;
  height: 323px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-MDG .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-MDG span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-MDG span#rtr-s-MDG_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_1 {
  position: absolute;
  width: 358px;
  height: 328px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_4 {
  position: absolute;
  width: 473px;
  height: 369px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_4 {
  position: absolute;
  width: 361px;
  height: 326px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Text_1 {
  position: absolute;
  width: 88px;
  height: 30px;
  background-color: #121212;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}