#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-MDG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71ade645-85ec-4561-911c-efd0c236ce73 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}