#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Back_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 37px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Groups_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 75px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Parties_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 83px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Edit_settings_button {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Play_button {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_12 {
  -ms-transform: rotate(180.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_14 {
  -ms-transform: rotate(180.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_16 {
  -ms-transform: rotate(180.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_18 {
  -ms-transform: rotate(180.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7b58241a-ee5a-48e0-bb48-4e7f0a56dfca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}