#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Button_startAparty {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Button_inviteToGroup {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Button_audio {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Back_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 31px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Groups_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 84px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Parties_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 72px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Cover_rectangle {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-MDG_name {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Playlist_pictures {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #95989A;
  -ms-transform: rotate(89.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #95989A;
  -ms-transform: rotate(89.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #95989A;
  -ms-transform: rotate(180.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #95989A;
  -ms-transform: rotate(180.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #95989A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #95989A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #95989A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #95989A;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Song_dropdown {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-three_dot {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Song_dropdown_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-three_dot_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-popUp_invitepeople {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #898989;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #898989;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #898989;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #898989;
  border-radius: 32px 32px 32px 32px;
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-x_button {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #95989A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #95989A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #95989A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #95989A;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d5795791-d337-41fe-8254-6e7d7d07c107 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}