#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Triangle_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Transparent_background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-popUp_invitepeople {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Line_1 {
  rotation: 90.0;
  margin-left: 191px;
  margin-top: -192px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Line_2 {
  rotation: 90.0;
  margin-left: 73px;
  margin-top: -74px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-x_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Block {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Block_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Apply_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Back_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Groups_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Parties_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Play_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed45b747-68ff-4523-b8bb-578f3f89199c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}