#m-e10d3553-56b5-4fc7-a12e-85489f8e8165 #m-e10d3553-Image_1 {
  position: absolute;
  width: 90px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-e10d3553-56b5-4fc7-a12e-85489f8e8165 #m-e10d3553-Rectangle_1 {
  position: absolute;
  width: 438px;
  height: 98px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-e10d3553-56b5-4fc7-a12e-85489f8e8165 #m-e10d3553-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-e10d3553-56b5-4fc7-a12e-85489f8e8165 #m-e10d3553-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-e10d3553-56b5-4fc7-a12e-85489f8e8165 #m-e10d3553-Rectangle_1 span#rtr-m-e10d3553-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-e10d3553-56b5-4fc7-a12e-85489f8e8165.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}