#m-e10d3553-56b5-4fc7-a12e-85489f8e8165 #m-e10d3553-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e10d3553-56b5-4fc7-a12e-85489f8e8165 #m-e10d3553-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e10d3553-56b5-4fc7-a12e-85489f8e8165.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}