#m-e10d3553-56b5-4fc7-a12e-85489f8e8165 #m-e10d3553-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-e10d3553-56b5-4fc7-a12e-85489f8e8165 #m-e10d3553-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#m-e10d3553-56b5-4fc7-a12e-85489f8e8165.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}